body {
  padding: 0;
  margin: 0;
}
header {
  background-color: rgb(7, 7, 229);
  padding: 10px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.add-form_cont {
  padding: 20px;
  background-color: rgb(173, 238, 254);
  justify-self: center;
  margin: 20px;
  border-radius: 20px;
  position: absolute;
  z-index: 1000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.add-form {
  display: grid;
  justify-self: center;
  width: 400px;
}

.add-form button {
  justify-self: center;
  width: 50%;
}

.table {
  background-color: rgb(219, 236, 251);
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 80%;
  margin: 20px;
  justify-self: center;
}

.table td {
  text-align: center;
  padding: 5px;
}

.main {
  padding: 20px;
}

.link {
  text-decoration: none;
  padding: 4px;
  color: white;
  border-radius: 7px;
}

.delete-btn {
  background-color: brown;
}

.edit-btn {
  background-color: rgb(14, 14, 225);
}

input {
  height: 30px;
  border-radius: 7px;
  border: none;
}

label {
  padding-right: 4px;
}

.btn {
  color: white;
  background-color: rgb(14, 14, 225);
  border: none;
  border-radius: 9px;
  height: 30px;
  font-size: 20px;
}

.para {
  text-align: center;
}

.td-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}

.addEmp-btn {
  margin: 20px;
  width: 200px;
  height: 50px;
}

.form {
  padding: 40px;
  display: grid;
  justify-self: center;
  width: 30%;
  background: rgb(22, 191, 140);
  border-radius: 40px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  margin-top: 120px;
}

.form label {
  color: white;
}

.form button {
  justify-self: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
ul a {
  color: antiquewhite;
  text-decoration: none;
}

.div-btn {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .form {
    width: 50%;
  }
}

.report-form {
  background-color: rgb(22, 191, 140);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
}

.report-form label {
  color: black;
}

.action {
  display: flex;
  gap: 1rem;
}

.add-btn {
}
